<ion-header>
  <ion-toolbar class="new-background-color">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      <div text-center class="text">
        <p style="font-size: 18px; color: white; margin-left: -10%;">Perfiles</p>
      </div>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content style="border-bottom: 1px solid white;">
  <div class="cont" style="padding-top: 6px;">
    <div class="img_profile">
      <a target="_blank">
      <ion-img (click)="cambio()" src="/assets/luis.jpg" style="width:150px; margin:auto;" alt="Forest" id="cl"></ion-img>
    </a>
    </div>
    <p style="font-size: 16px; text-align: center; color: white;">Luis Enrique Medina</p>
    <p style="font-size: 10px; text-align: center; color: rgba(255, 255, 255, 0.959);">Estado de México</p>
  </div>
</ion-content>

<ion-content>
  <div class="contenedor" style="display: flex;">
    <div class="user_" style="width: 85%;">
      <ion-card *ngFor="let us of usuarios;">
        <div class="usuario" style="display: flex;">
          <p style="margin-left: 12px; color: white;" (click)="Datos(us)">{{us.name_State}}</p>
        </div>
        <div class="data" *ngFor="let u of us.data">
          <div class="datos" style="display: flex;">
            <p style="margin-left: 22px; display: flex; color: white;">{{u.name}}</p>
            <p style="margin-left: 5px; display: flex; color: white;">{{u.last_name}}</p>
            <p style="margin-left: 5px; display: flex; color: white;">{{u.years}}</p>
            <p style="margin-left: 10px;">{{u.status}}</p>
          </div>
        </div>
      </ion-card>
    </div>
  </div>
</ion-content>

<!--
<img id="img1" style="width: 15%; height: 15%; border: 1px solid fuchsia;"><br/>
    <input id="inputFile1" type="file">
    <script>
      function init() {
  var inputFile = document.getElementById('inputFile1');
  inputFile.addEventListener('change', mostrarImagen, false);
}

function mostrarImagen(event) {
  var file = event.target.files[0];
  var reader = new FileReader();
  reader.onload = function(event) {
    var img = document.getElementById('img1');
    img.src= event.target.result;
  }
  reader.readAsDataURL(file);
}

window.addEventListener('load', init, false);
    </script>
-->