
ion-content{
    --ion-background-color: #000000;
  }
  .new-background-color{
    --background: #000000;
    --color: #ffffff;
  }
  
  #cl:hover {
    box-shadow: 0 3px 16px 0px rgba(0, 140, 186, 0.5);
	  transition: all 0.2s ease-out;
  }