<!--<ion-header>
  <ion-toolbar>
    <ion-title>tab1</ion-title>
  </ion-toolbar>
</ion-header>-->
<ion-header>
  <ion-toolbar class="new-background-color">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      <div text-center class="text">
        <p style="font-size: 18px; color: white; margin-left: -10%;">Perfiles</p>
      </div>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content style="border-bottom: 1px solid white;">
  <div class="cont">  <!--style="padding-top: 6px;"-->
    <div class="img_profile">
      <a target="_blank">
      <ion-img (click)="cambio()" src="/assets/luis.jpg" style="width:150px; margin:auto;" alt="Forest" id="cl"></ion-img>
    </a>
    </div>
    <p style="font-size: 14px; text-align: center; color: white;">Luis Enrique Medina</p>
    <p style="font-size: 11px; text-align: center; color: rgba(255, 255, 255, 0.959);">Estado de México</p>
    <!--<p (click)="mostrar_mas()" style="font-size: 10px; text-align: center; color: white;">{{description | slice:0:10}}</p>-->
    <div text-center class="text" style="display: flex; text-align: center; margin: 30px;">
      <p style="font-size: 9px; color: white; cursor: pointer;">{{description | slice:0:oculto}}...</p>
      <p style="font-size: 9px; color: white; cursor: pointer;" (click)="oculto = 150" *ngIf="oculto !== 150">Leer mas!</p>
    </div>
  </div>
</ion-content>

<ion-content>
  <div class="contenedor" style="display: flex;">
    <div class="user_" style="width: 85%;">
      <ion-card *ngFor="let us of usuarios;">
        <div class="usuario" style="display: flex;">
          <p style="margin-left: 12px; color: white;" (click)="Datos(us)">{{us.name_State}}</p>
        </div>
        <div class="data" *ngFor="let u of us.data">
          <div class="datos" style="display: flex;">
            <p style="margin-left: 22px; display: flex; color: white;">{{u.name}}</p>
            <p style="margin-left: 5px; display: flex; color: white;">{{u.last_name}}</p>
            <p style="margin-left: 5px; display: flex; color: white;">{{u.years}}</p>
            <p style="margin-left: 10px;">{{u.status}}</p>
          </div>
        </div>
      </ion-card>
    </div>
  </div>
</ion-content>

<div>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="tab1" [routerLink]="['/tab1']">
      <ion-icon name="person"></ion-icon>
      <ion-label>Perfiles</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="tab2" [routerLink]="['/tab2']">
      <ion-icon name="chatboxes"></ion-icon>
      <ion-label>Mensajes</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="tab3" [routerLink]="['/tab3']">
      <!--<ion-icon name="ellipse"></ion-icon>-->
      <ion-icon name="settings"></ion-icon>
      <ion-label>Configuración</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</div>