<!--<ion-header>
  <ion-toolbar>
    <ion-title>tab3</ion-title>
  </ion-toolbar>
</ion-header>-->
<ion-header>
  <ion-toolbar class="new-background-color">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>

    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

</ion-content>

<div>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="tab1" [routerLink]="['/tab1']">
      <ion-icon name="person"></ion-icon>
      <ion-label>Perfiles</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="tab2" [routerLink]="['/tab2']">
      <ion-icon name="chatboxes"></ion-icon>
      <ion-label>Mensajes</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="tab3" [routerLink]="['/tab3']">
      <ion-icon name="settings"></ion-icon>
      <ion-label>Configuración</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</div>