<ion-app>
  <ion-split-pane contentId="main-content">
    <ion-menu contentId="main-content" type="overlay">
      <ion-header>
        <ion-toolbar class="new-background-color" style="display: flex;">
          <ion-title style="margin-left: 80%;" (click)="exit()">X</ion-title>
        </ion-toolbar>
      </ion-header>
      <ion-content>
        <ion-list>
          <ion-menu-toggle auto-hide="false" *ngFor="let p of appPages">
            <ion-item [routerDirection]="'root'" [routerLink]="[p.url]">
              <ion-icon slot="start" [name]="p.icon" style="color: white;"></ion-icon>
              <ion-label>
                <p style="color: white; font-size: 18px;">{{p.title}}</p>
              </ion-label>
            </ion-item>
          </ion-menu-toggle>
        </ion-list>
        <div class="separador">
          <p style="color: black;">.</p>
        </div>
        <div class="separador">
          <p style="color: black;">.</p>
        </div>
        <div class="separador">
          <p style="color: black;">.</p>
        </div>
        <div class="separador">
          <p style="color: black;">.</p>
        </div>
        <div class="separador">
          <p style="color: black;">.</p>
        </div>
        <div class="separador">
          <p style="color: black;">.</p>
        </div>
        <div class="cont_config">
        <div class="elemnt" style="padding-bottom: 20%;"></div>
        <p style="color: black; font-size: 0.1px; padding-bottom: 50%;">.</p>
          <div class="btn_conf">
            <button type="submit" style="width: 75%; height: 33px; margin-left: 16%; border-radius: 5px; font-size: 15px; text-align: center; color: white; background-color: firebrick;">CONFIGURACIÓN</button>
          </div>
          <p style="color: black; font-size: 0.1px; padding-top: 2.5%;">.</p>
          <div class="btn_close_sesion">
            <button type="submit" (click)="close_application()" style="width: 75%; height: 33px; margin-left: 16%; border-radius: 5px; font-size: 15px; text-align: center; color: white; background-color: lightslategrey;">CERRAR SESIÓN</button>
          </div>
        </div>
      </ion-content>
    </ion-menu>
    <ion-router-outlet id="main-content"></ion-router-outlet>
  </ion-split-pane>
</ion-app>
