
<ion-content class="home_application" *ngIf="home">
</ion-content>

<!--Edit profile-->
<ion-content *ngIf="update_perfil" class="edit_profile" style="background-color: black;">
  <ion-col>
      <ion-label>
        <div class="user_profile" style="display: flex;">
          <div class="ed_count" style="color: white; display: flex; padding-top: 5%; padding-bottom: 8.5%; width: 70%;">
             <p (click)="perfiles()" style="color: white; font-size: 30px; margin-left: 5%; margin-top: -0.6%;">{{edt_p}}</p><p style="font-size: 18px; margin-left: 2%;">Configuración de la cuenta</p> 
          </div>
          <div text-center class="text" style="display: block; width: 20%; height: auto;">
            <div class="im_user" style="width: 100%; height: auto; border-radius: 50%;">
              <img src="/assets/user_cit.svg" *ngIf="default_imagen" (click)="getPicture()" style="width: 57px; height: 57px; margin-top: 8px;"/>
              <img [src]="imagen_base" *ngIf="imagen_base" (click)="getPicture()" style="width: 57px; height: 57px; margin-top: 8px;"/>
          </div>
            <p *ngIf="profile_text" (click)="opc_perfil()" style="color: white; font-size: 13.5px;">Perfil</p>
            <p *ngIf="profile_update" style="color: white; font-size: 13.5px;">Actualizar Perfil</p>
          </div>
        </div>
      </ion-label>
  </ion-col>

  <ion-col>
      <ion-label>
          <p style="color: white; font-size: 16.5px; margin-left: 6%; padding-bottom: 4%;">Editar perfil</p>
      </ion-label>
  </ion-col>
  <ion-col>
      <ion-label>
          <div class="name_inpt" style="display: flex;">
          <div class="nombre_update" style="display: flex; margin-left: 7.5%; margin-bottom: 3.5%; width: 23%;">
                  <img src="/assets/crear-nuevo-boton-de-lapiz.svg" style="width: 17px; height: 17px;"/>
                  <p style="margin-left: 1.2%;">.</p>
                  <p style="color: white; font-size: 16.5px; margin-left: 3.4%;">Nombre</p>
        </div>
        <p style="color: white; text-align: right; width: 55%;">{{update.nombre}}</p><p style="color: white; font-size: 30px; margin-left: 10px;">></p>
        </div>
      </ion-label>
  </ion-col>
  <ion-col>
      <ion-label>
          <div class="correo_inpt" style="display: flex;">
          <div class="correo_update" style="display: flex; margin-left: 7.5%; margin-bottom: 3.5%; width: 20%;">
                  <img src="/assets/sobre.svg" style="width: 17px; height: 17px;"/>
                  <p style="margin-left: 1.2%;">.</p>
                  <p style="color: white; font-size: 16.5px; margin-left: 3.4%;">Correo</p>
                </div>
              <p style="color: white; text-align: right; width: 58%;">{{update.correo}}</p><p style="color: white; font-size: 30px; margin-left: 10px;">></p>
        </div>
      </ion-label>
  </ion-col>
  <ion-col>
      <ion-label>
          <div class="pass_inpt" style="display: flex;">
          <div class="password_update" style="display: flex; margin-left: 7.5%; margin-bottom: 3.5%; width: 35%;">
                  <img src="/assets/bloquear.svg" style="width: 17px; height: 17px;"/>
                  <p style="margin-left: 1.2%;">.</p>
                 <p style="color: white; font-size: 16.5px; margin-left: 3.4%;">Contraseña</p> 
                </div>
              <p style="color: white; text-align: right; width: 43%;">{{update.password}}</p><p style="color: white; font-size: 30px; margin-left: 10px;">></p>
        </div>
      </ion-label>
  </ion-col>
  <div class="bt" style="border-bottom: 2px solid white; margin-left: 7.5%; width: 85%; opacity: 0.2; margin-top: -5%; padding-bottom: 5%;">
  </div>
  <ion-col>
      <ion-label>
              <div class="icon_count" style="display: flex; margin-left: 7.5%; margin-bottom: .5%;">
                  <img src="/assets/usuario-hombre.svg" style="width: 17px; height: 17px;"/>
                  <p style="color: white; font-size: 16.5px; margin-left: 3.4%;">Cuentas vinculadas</p> 
              </div>
      </ion-label>
      <p *ngIf="vinc_cuentas" style="color: white; width: 43%; margin-left: 15.5%; font-size: 11.8px;">Tu cuenta de Facebook está vinculada a Citamed</p>
      <p *ngIf="vinc_cuentas" style="color: sandybrown; margin-left: 15.5%; font-size: 11.8px;" (click)="des_cuenta()">Desvincular</p>
      <p *ngIf="desv_cuentas" style="color: white; width: 43%; margin-left: 15.5%; font-size: 11.8px;"> Tu cuenta de Facebook no esta vinculada</p>
      <p *ngIf="desv_cuentas" style="color: sandybrown; margin-left: 15.5%; font-size: 11.8px;" (click)="vinc_cuenta()">Vincular</p>
  </ion-col>
  <ion-col>
      <ion-label>
          <div class="btn_notif" style="display: flex;">
          <div class="icon_notification" style="display: flex; margin-left: 7.5%; margin-bottom: 3.5%; width: 68%;">
              <img src="/assets/notificacion.svg" style="width: 17px; height: 17px;"/>
              <p style="color: white; font-size: 16.5px; margin-left: 3.4%;">Notificaciones PUSH</p>
            </div>
              <label class="switch">
                  <input type="checkbox">
                  <span class="slider round"></span>
              </label>
            </div>
      </ion-label>
  </ion-col>
  <ion-col>
      <ion-label>
          <div class="icon_exit" (click)="close_application()" style="display: flex; margin-left: 7.5%; padding-top: 6%; margin-bottom: 3.5%;">
              <img src="/assets/boton-eliminar.svg" style="width: 17px; height: 17px;"/>
              <p style="color: white; font-size: 16.5px; margin-left: 3.4%;">Cerrar cuenta</p>
          </div>
      </ion-label>
  </ion-col>
  <!--<ion-col>
    <div id="divInputLoad" style="width: 40%; height: 40px; margin-left: 10%; color: white; background-color: black; border-radius: 10%;">
      <p style="color: white; font-size: 14px;;">Imagenes</p>
      <div id="divFileUpload">
          <input id="file-upload" type="file" accept="image/*" />
      </div>
      <div id="file-preview-zone">
      </div>
  </div>
  </ion-col>-->

  <!--<div class="ft" style="display: block;">
    <button ion-button block (click)="getPicture()" style="width: 40%; height: 40px; margin-left: 10%; color: black; background-color: white; border-radius: 10%;">Toma una foto</button>
    <img [src]="imagen_base" *ngIf="imagen_base" style="width: 30%; height: 14%;"/>
  </div>-->

  <!--<div class="share" style="display: block;">
    <ion-input class="inp" style="color: white; margin-left: 10%; margin-bottom: 3%;" placeholder="Ingresa comentario" name="sh" #sh="ngModel" [(ngModel)]="share_inpt"></ion-input>
    <img src="/assets/share.svg" style="width: 17px; height: 17px;"/>
    <button  class="bt" (click)="Shr()" style="width: 40%; height: 40px; margin-left: 10%; color: black; background-color: white; border-radius: 10%;">Compartir</button>
  </div>-->
</ion-content>

<div class="all" *ngIf="loader">
  <div class="carg">
    <p style="color: black;">{{texto}}</p>
    <div class="cargando">
    </div>
  </div>
</div>


<div class="contMesElim" *ngIf="ocul">
    <div class="centrar-mensaje">
      <div class="contaiMensaEli">
        <div class="textMensaje">
          <p>Para avanzar es necesario que actualizes tu perfil</p>
        </div>
        <div class="btnsMensajeElim">
            <button type="submit" class="botonMensaEli" (click)="acept()">Aceptar</button>
            <button type="submit" class="botonMensaEli" (click)="cancel()" >Cancelar</button>
        </div>
      </div>
    </div>
  </div>