ion-content{
  --ion-background-color: transparent;
}
  .boton_l{
    width: 40%;
    height: 35%;
    border-radius: 3px !important; 
    text-transform: none;
    color: white;
    background-color: #BD1952;
}
//Loader
.all{
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding-top: 18%;
  background:transparent;
  position: fixed;
}
@media only screen and (min-width: 1024px ) and (max-width: 1500px ) {
  .all{
    padding-top: 25%;     
  }
} 
@media only screen and (min-width: 800px ) and (max-width: 1280px ) {
  .all{
    padding-top: 25%;     
  }
} 
@media only screen and (min-width: 768px ) and (max-width: 1024px ) {
  .all{
    padding-top: 29%;     
  }
} 

@media only screen and (min-width: 767px) and (max-width: 940px) {
  .all{
    padding-top: 40%;     
  }
} 
@media only screen and (min-width: 300px) and (max-width: 767px) {
  .all{
    padding-top: 78%;     
  }
}
@media only screen and (min-width: 200px) and (max-width: 259px) {
  .all{
    padding-top: 98%;     
  }
  .carg{
      width: 25%;
      margin: auto;
      text-align: center;
      font-size: 5px;
  }
}
.carg{
  width: 35%;
  margin: auto;
  text-align: center;
  font-size: 18px;
}
.cargando{
  border: 1.5px solid rgb(0, 0, 0);     //CCC
  border-top: 2px;
  border-top-color: transparent;
  border-top-style: solid;
  height: 50px;
  width: 50px;
  position: relative;
  border-radius: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  margin-bottom: 278px;
  animation:girar 1.0s linear infinite;
  -o-animation:girar 1.0s linear infinite;
  -webkit-animation:girar 1.0s linear infinite;
}
@keyframes girar{
  from{ transform: rotate(0deg); }
  to{ transform: rotate(360deg); }
  }

//Imagen Inicio
.home_application{
  --background: url('/assets/icon.png') no-repeat 100% 100%;
}
@media (max-width:823px) and (min-width:411px) {
    #Img_inic{
        margin-top: -47%;
        margin-bottom: 20%; 
    }
}
@media (max-width:736px) and (min-width:414px) {
    #Img_inic{
        margin-top: -47%;
        margin-bottom: 10%; 
    }
}
@media (max-width:414px) and (min-width:736px) {
    #Img_inic{
        margin-top: -97%;
    }
}
@media (max-width:731px) and (min-width:411px) {
    #Img_inic{
        margin-top: -7%;
        margin-bottom: 10%; 
    }
}
@media (min-width:411px) and (max-width:731px) {
    #Img_inic{
        margin-top: -37%;
        //margin-bottom: 10%; 
    }
}
@media (max-width:568px) and (min-width:320px) {
    #Img_inic{
        margin-bottom: 26%; 
    }
}

.texto_bienvenida{
    width: 60%; 
    color: black; 
    font-size: 38px; 
    margin-left: 20.5%; 
    text-align: left; 
    padding-top: 2.5%; 
    padding-bottom: 10%; 
    font-weight: bold;
}
.btn_entrar{
    width: 60%; 
    --background: #BD1952;
}
.btn_registrar{
    width: 60%; 
    --background: lightslategrey;
}
//Imagen Accesso
.acceso_app{
    background: url('/assets/25360146-silueta-de-una-pareja-besándose-detrás-de-un-árbol-de-amor.jpg') no-repeat fixed center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 100%;
    width: 100% ;
    text-align: center;
  }

.inputs_registro{
  color: white; 
  text-align: center; 
  border: 1px rgba(197, 18, 101, 0.849) ridge; 
  border-radius: 9.7px;
}

#alerta{
  color: #000;
  text-align: center;
  // margin: 95vh auto;
  width:100%;
  padding-top: 20px;
  padding-bottom: 20px;
}

#alerta a{
  border-radius: 5px;
  padding: 10px;
  font-size:20px;
  font-weight: bold; 
}
@media only screen and (min-width: 768px) and (max-width: 1024px){
  #alerta{
      margin-top: 20%;
  }
}
@media only screen and (min-width: 100px) and (max-width: 767px){
#alerta{
  margin-top: 20%;
}
}
#regist_face{
  --background: #4e71ba; 
  --color: #ffffff;
  --border-radius: 7px;
}
#regist_google{
  --background: #ffffff; 
  --color: #ff0000;
  --border-radius: 7px;
}
#bt_access_face{
--background: #4e71ba; 
--color: #ffffff; 
--border-radius: 7px;
}
#bt_access_google{
  --background: #ffffff; 
  --color: #ff0000;
  --border-radius: 7px
}