<ion-content *ngIf="windhome" class="home_application" (click)="inicio()" style="cursor: pointer;">
  <ion-grid>
    <ion-row justify-content-center>
      <ion-col align-self-center size-md="6" size-lg="5" size-xs="12">
        <div padding></div><div padding></div><div padding></div>
        <div padding></div><div padding></div><div padding></div>
        <div padding></div><div padding></div><div padding></div>
        <div text-center class="text">
          <p style="color: black; font-size: 32px; font-weight: bold;">¡Bienvenido!</p>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>

<!--Home-->
<ion-content *ngIf="home" class="acceso_app" style="background-color: black;">
  <ion-grid>
    <ion-row justify-content-center>
      <ion-col align-self-center size-md="6" size-lg="5" size-xs="12">
        <div padding></div><div padding></div>
        <div padding></div><div padding></div>
        <div padding></div><div padding></div>
        <div padding></div>
          <div text-center class="text">
            <p class="texto_bienvenida" style="text-align: center;">Citamed</p>
          </div> 
        <div padding></div><div padding></div><div padding></div>
        <div text-center class="text">
          <ion-button size="default" class="btn_entrar" (click)="entrar()">ENTRAR</ion-button>
        </div>
        <div text-center class="text" style="padding-top: 1.5%;">
          <ion-button class="btn_registrar" (click)="registro()">REGÍSTRATE</ion-button>
        </div>
        <div padding></div>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>

<!--Welcome-->
<ion-content *ngIf="welcome" class="acceso_app" style="background-color: black;">
  <ion-grid>
    <ion-row justify-content-center>
      <ion-col align-self-center size-md="6" size-lg="5" size-xs="12">
        <div padding></div><div padding></div>
        <div padding></div><div padding></div>
        <div padding></div>
      <div text-center class="text">
        <ion-button id="regist_face"><img src="/assets/simbolo-de-la-aplicacion-de-facebook.svg" style="width: 17px; height: 17px; margin-left: 0.3%;"/><p style="margin-left: 9px;">Entrar con Facebook</p></ion-button>
      </div>
      <ion-label>
          <p style="padding: 1%;"></p>
      </ion-label>
      <div text-center class="text">
        <ion-button id="regist_google" (click)="entrar_google()"><img src="/assets/busqueda.svg" style="width: 17px; height: 17px; margin-left: 0.3%;"/><p style="margin-left: 9px;">Entrar con Google</p></ion-button>
      </div>
        <div text-center style="margin-top: -5px;">
          <h4 style="color: black; font-weight: bold;">Entrar</h4>
        </div>
        <div padding>
            <ion-input class="inputs_registro" type="text" placeholder="Correo electronico" name="ed" #ed="ngModel" [(ngModel)]="login.mail" style="margin-bottom: 6.5px; color: black;"></ion-input>
            <div class="ic" style="display: flex;">
              <div class="icn_eye" style="width: 100%;">
                <ion-input class="inputs_registro" type={{typepas}} placeholder="Contraseña" name="psw" #psw="ngModel" [(ngModel)]="login.password" style="margin-bottom: 6.5px; color: black;">
                  <img src="/assets/eye-closed.svg" (click)="hide_Pass()" style="width: 23px; height: 23px; margin-left: 91.6%; position: absolute; cursor: pointer;" *ngIf="eye_clos"/>
                  <img src="/assets/eye-open.svg" (click)="mostrar_Pass()" style="width: 23px; height: 23px; margin-left: 91.6%; position: absolute; cursor: pointer;" *ngIf="eye_op"/>
                </ion-input>
              </div>
            </div>
        </div>
        <div text-center style="margin-top: -20px;  margin-bottom: 18px;">
          <div text-center style="display: inline-flex;">
            <p style="color: black;">Si aun no tienes cuenta,</p><p style="color: deeppink; margin-left: 3px; cursor: pointer;" (click)="welcome_register()">entrar aquí</p>
        </div>
        </div>
        <div text-center class="text">
          <button class="boton_l" (click)="entre()" ion-button icon-start type="submit" style="height: 40px !important; border-radius: 8px !important; font-size: 14px;">ENTRAR</button>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>
  </ion-content>

<!--Register-->
<ion-content *ngIf="register" class="acceso_app" style="background-color: black;">
  <ion-grid>
    <ion-row justify-content-center>
      <ion-col align-self-center size-md="6" size-lg="5" size-xs="12">
        <div padding></div><div padding></div>
      <div text-center class="text">
        <ion-button (click)="register_facebook()" id="regist_face"><img src="/assets/simbolo-de-la-aplicacion-de-facebook.svg" style="width: 17px; height: 17px; margin-left: 0.3%;"/><p style="margin-left: 9px;">Registrar con Facebook</p></ion-button>
      </div>
      <ion-label>
          <p style="padding: 1%;"></p>
      </ion-label>
      <div text-center class="text">
        <ion-button id="regist_google" (click)="register_google()"><img src="/assets/busqueda.svg" style="width: 17px; height: 17px; margin-left: 0.3%;"/><p style="margin-left: 9px;">Registrar con Google</p></ion-button>
      </div>
        <div text-center style="margin-top: -5px;">
          <h4 style="color: black; font-weight: bold;">Registrar</h4>
        </div>
        <div padding>
            <ion-input class="inputs_registro" type="text" placeholder="Nombre" name="nomb" #nomb="ngModel" [(ngModel)]="datos.nombre" style="margin-bottom: 6.5px; color: black;"></ion-input>
            <ion-input class="inputs_registro" type="text" placeholder="Primer apellido" name="ape" #ape="ngModel" [(ngModel)]="datos.apellido" style="margin-bottom: 6.5px; color: black;"></ion-input>
            <ion-input class="inputs_registro" type="text" placeholder="Correo electronico" name="ed" #ed="ngModel" [(ngModel)]="datos.mail" style="margin-bottom: 6.5px; color: black;"></ion-input>
            <div class="ic" style="display: flex;">
              <div class="icn_eye" style="width: 100%;">
                <ion-input class="inputs_registro" type={{typepass}} placeholder="Contraseña" name="psw" #psw="ngModel" [(ngModel)]="datos.password" style="margin-bottom: 6.5px; color: black;">
                  <img src="/assets/eye-closed.svg" (click)="showPass()" style="width: 23px; height: 23px; margin-left: 91.6%; position: absolute; cursor: pointer;" *ngIf="eye_closed"/>
                  <img src="/assets/eye-open.svg" (click)="showPass2()" style="width: 23px; height: 23px; margin-left: 91.6%; position: absolute; cursor: pointer;" *ngIf="eye_open"/>
                </ion-input>
              </div>
            </div>
            <ion-input class="inputs_registro" type={{typepass}} placeholder="Confirma password" name="psswd" #psswd="ngModel" [(ngModel)]="confimar_pass" style="margin-bottom: 6.5px; color: black;"></ion-input>
        </div>
        <!--
        <div class="selec" style="display: flex; margin-bottom: 11px;">
        <ion-select value="brown" placeholder="Genero" (ionChange)="OptionGenero($event)" ok-text="Aceptar" cancel-text="Cancelar" style="color: black; margin-bottom: 6.5px; width: 30%;">
          <ion-select-option value="Masculino">Masculino</ion-select-option>
          <ion-select-option value="Femenino">Femenino</ion-select-option>
        </ion-select>
        <ion-select value="brown" placeholder="Estado" (ionChange)="OptionEstado($event)" ok-text="Aceptar" cancel-text="Cancelar" style="color: black; margin-bottom: 6.5px; width: 50%;">
          <ion-select-option value="Aguascalientes">Aguascalientes</ion-select-option>
          <ion-select-option value="Baja California">Baja California</ion-select-option>
          <ion-select-option value="Baja California Sur">Baja California Sur</ion-select-option>
          <ion-select-option value="Campeche">Campeche</ion-select-option>
          <ion-select-option value="Coahuila">Coahuila</ion-select-option>
          <ion-select-option value="Colima">Colima</ion-select-option>
          <ion-select-option value="Chiapas">Chiapas</ion-select-option>
          <ion-select-option value="Chihuahua">Chihuahua</ion-select-option>
          <ion-select-option value="Distrito Federal">Distrito Federal</ion-select-option>
          <ion-select-option value="Durango">Durango</ion-select-option>
          <ion-select-option value="Guanajuato">Guanajuato</ion-select-option>
          <ion-select-option value="Guerrero">Guerrero</ion-select-option>
          <ion-select-option value="Hidalgo">Hidalgo</ion-select-option>
          <ion-select-option value="Jalisco">Jalisco</ion-select-option>
          <ion-select-option value="México">México</ion-select-option>
          <ion-select-option value="Michoacán">Michoacán</ion-select-option>
          <ion-select-option value="Morelos">Morelos</ion-select-option>
          <ion-select-option value="Nayarit">Nayarit</ion-select-option>
          <ion-select-option value="Nuevo León">Nuevo León</ion-select-option>
          <ion-select-option value="Oaxaca">Oaxaca</ion-select-option>
          <ion-select-option value="Puebla">Puebla</ion-select-option>
          <ion-select-option value="Querétaro">Querétaro</ion-select-option>
          <ion-select-option value="Quintana Roo">Quintana Roo</ion-select-option>
          <ion-select-option value="San Luis Potosí">San Luis Potosí</ion-select-option>
          <ion-select-option value="Sinaloa">Sinaloa</ion-select-option>
          <ion-select-option value="Sonora">Sonora</ion-select-option>
          <ion-select-option value="Tabasco">Tabasco</ion-select-option>
          <ion-select-option value="Tamaulipas">Tamaulipas</ion-select-option>
          <ion-select-option value="Tlaxcala">Tlaxcala</ion-select-option>
          <ion-select-option value="Veracruz">Veracruz</ion-select-option>
          <ion-select-option value="Yucatán">Yucatán</ion-select-option>
          <ion-select-option value="Zacatecas">Zacatecas</ion-select-option>
        </ion-select>
      </div>-->
      <div text-center class="text" style="display: block;">
        <img src="/assets/camera.svg" (click)="foto_bd()" style="width: 37px; height: 37px; cursor: pointer;"/>
        <p *ngIf="band_camera_imag" style="color: black; font-size: 14px;">Fotografía requerida</p>
        <p *ngIf="band_camera" style="color: red; font-size: 14px;">Fotografía requerida</p>
      </div>
        <div text-center style="margin-top: -20px;  margin-bottom: 18px; margin-top: 4px;">
          <div text-center style="display: inline-flex;">
            <p style="color: black;">Si ya tienes cuenta,</p><p style="color: deeppink; margin-left: 3px; cursor: pointer;" (click)="register_welcome()">entrar aquí</p>
        </div>
        </div>
        <div text-center class="text">
          <button class="boton_l" (click)="registrar()" ion-button icon-start type="submit" style="height: 40px !important; border-radius: 8px !important; font-size: 14px;">ENTRAR</button>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>
  </ion-content>

  <div class="all" *ngIf="loader">
    <div class="carg">
      <p style="color: black;">{{texto}}</p>
      <div class="cargando">
      </div>
    </div>
  </div>

  <ion-header *ngIf="band_camp_incomp" style="position: absolute;">
    <ion-toolbar class="new-background-color-alerta">
        <ion-title>
          <p style="text-align: center;">{{sms}}</p>
        </ion-title>
      </ion-toolbar>
  </ion-header>

  <ion-header *ngIf="band_usuario_exist" style="position: absolute;">
    <ion-toolbar class="new-background-color-alerta">
        <ion-title>
          <p style="text-align: center;">{{sms_user_exist}}</p>
        </ion-title>
      </ion-toolbar>
  </ion-header>

  <ion-header *ngIf="band_pass_incom" style="position: absolute;">
    <ion-toolbar class="new-background-color-alerta">
        <ion-title>
          <p style="text-align: center;">{{sms_pass}}</p>
        </ion-title>
      </ion-toolbar>
  </ion-header>

  <ion-header *ngIf="band_user_inexist" style="position: absolute;">
    <ion-toolbar class="new-background-color-alerta">
        <ion-title>
          <p style="text-align: center;">{{sms_user_inex}}</p>
        </ion-title>
      </ion-toolbar>
  </ion-header>

  <ion-header *ngIf="band_regis_goo_inexis" style="position: absolute;">
    <ion-toolbar class="new-background-color-alerta">
        <ion-title>
          <p style="text-align: center;">{{sms_mail_goog_inexist}}</p>
        </ion-title>
      </ion-toolbar>
  </ion-header>